@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&family=Poppins:wght@100&display=swap');

*{
    margin:0px;
    padding:0px;
    font-family: 'Nunito Sans', sans-serif;
}
#root{
    max-width: 1440px;
    margin:0px auto;
    border:2px solid black;
}
.profilebtn{
    border: 2px solid rgba(99, 94, 163, 1);
        color:rgba(99, 94, 163, 1);     
}
.employerbtn{
    background-color: rgba(99, 94, 163, 1); 
}
.gradient{
    background: linear-gradient(85.89deg, #49478C 7.82%, #9756FF 117.28%);
}
.employeebtn{
    color: rgba(151, 150, 150, 1);
}
.bg-1{
    background-image: url(/public/images/↳\ Avatar.png);
    background-size: 100% 100%;
}
.bg-2{
    background-image: url(/public/images/↳\ Avatar\ \(2\).png);
    background-size: 100% 100%;
}
.bg-rectangle{
    background-image: url(/public/images/Rectangle\ 419.png);
    background-size: 100% 100%;
    width:full;
    height: 300px;
}
.bg-5{
    background-image: url(/public/images/↳\ Avatar\ \(3\).png);
    background-size: 100% 100%;
}
/* .active{
    background-color: #494484;
} */